<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.aulateste1e2.codetcc">


<!-- indicam erro, mas não afetam a execução
    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_quiz"
        android:label="ThemeQuiz"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="aplicativoIdiomas.view.MainActivity"
            android:label="Theme Quiz"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aplicativoIdiomas.view.TemaSelect"
            android:label="@string/title_activity_tema_select"
            android:parentActivityName="aplicativoIdiomas.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicativoIdiomas.view.MainActivity" />
        </activity>
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalTexto1"
            android:label="@string/title_activity_exercicio_texto"
            android:parentActivityName="aplicativoIdiomas.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicativoIdiomas.view.MainActivity" />
        </activity>
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalTexto2"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.PontuacaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem1"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem2"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem3"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem4"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem5"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem6"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.FeedBackErrosAcertosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioObjectImagem1"
            android:screenOrientation="portrait" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem7"
            android:label="@string/title_activity_exercicio_animal_imagem7"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioAnimalImagem8"
            android:screenOrientation="portrait" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectImagem2" />
        <activity
            android:name="aplicativoIdiomas.view.ExercicioObjectImagem3"
            android:label="@string/title_activity_exercicio_object_imagem3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectImagem4" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto1" />
        <activity android:name="aplicativoIdiomas.view.ExercicioAnimalTexto3" />
        <activity android:name="aplicativoIdiomas.view.ExercicioAnimalTexto4" />
        <activity android:name="aplicativoIdiomas.view.ExercicioAnimalTexto5" />
        <activity android:name="aplicativoIdiomas.view.ExercicioAnimalTexto6" />
        <activity android:name="aplicativoIdiomas.view.ExercicioAnimalTexto7" />
        <activity android:name="aplicativoIdiomas.view.ExercicioAnimalTexto8" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectImagem5" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectImagem6" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectImagem7" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectImagem8" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto2" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto3" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto4" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto5" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto6" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto7" />
        <activity android:name="aplicativoIdiomas.view.ExercicioObjectTexto8"/>
    </application>

</manifest>